NESHAN_API_KEY=
SNAPP_API_KEY=
SNAPP_API_REFRESH_TOKEN=
TAPSI_API_KEY=
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
GRAFANA_SERVER_ROOT_URL=http://localhost
TZ=Asia/Tehran
FETCH_INTERVAL_MINUTES=10
